/* --------------------------------- BUTTON --------------------------------- */
.c-btn {
    display: inline-block;
    box-sizing: border-box;
    background: #0080cc;
    color: #fff;
    border-radius: 9px;
    text-align: center;
    min-width: 185px;
    position: relative;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 12px 12px 11px 34px;

    &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        left: 35px;
        top: calc(50% - 10px);
        background: url("../../assets/img/assignment.svg") center no-repeat;
        background-size: cover;
        z-index: 1;
    }

    @include maxW(1024px) {
        font-size: 1.6rem;
        padding: 8px 12px 8px 41px;

        &::after {
            left: 25px;
        }
    }
    @include maxW(767px) {
        font-size: 1.4rem;
    }
}
