/* --------------------------------- RECRUIT -------------------------------- */
.p-recruit {
    padding-top: 99px;

    @include maxW(1024px) {
        padding-top: 59px;
    }

    @include maxW(767px) {
        padding-top: 35px;
    }

    .l-container {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        padding: 0 120px;

        @include maxW(1024px) {
            padding: 0 20px;
        }

        @include maxW(767px) {
            padding: 0 10px;
        }
    }

    &__wrapper {
        > h2 {
            font-size: 4.4rem;
            font-weight: 500;
            line-height: 50px;
            letter-spacing: 3.5px;
            color: #0080cc;
            padding-left: 3px;
            text-align: center;
        }

        > p {
            text-align: center;
            margin-top: 15px;
        }

        @include maxW(1024px) {
            > p {
                font-size: 1.6rem;
            }
        }
        @include maxW(767px) {
            > h2 {
                font-size: 2.4rem;
                line-height: 30px;
                letter-spacing: 1.2px;
            }

            > p {
                font-size: 1.4rem;
                line-height: 22px;
                margin-top: 12px;
            }
        }
    }

    &__tab {
        margin-top: 56px;

        @include maxW(1024px) {
            margin-top: 31px;
        }
        @include maxW(767px) {
            margin-top: 36px;
        }
    }

    &__nav {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    &__link {
        width: 50%;
        font-size: 2.6rem;
        line-height: 1.2;
        color: #3c3c3c;
        border: 1px solid #404141;
        border-bottom: 0;
        border-radius: 20px 20px 0 0;
        text-align: center;
        margin-left: -36px;
        padding: 35px 0 16px;
        cursor: pointer;

        &--blue {
            color: #0080cc;
            border-color: #0080cc;

            &.is-active {
                background-color: #0080cc;
            }
        }

        &--grey {
            color: #3c3c3c;
            border-color: #404141;

            &.is-active {
                background-color: #3c3c3c;
            }
        }

        &:first-child {
            margin-left: 0;
        }

        &.is-active {
            color: #fff;
            z-index: 1;
            padding: 39px 0 22px;
            border-radius: 10px 10px 0 0;
            width: calc(50% + 36px);
        }

        @include maxW(1024px) {
            border-radius: 10px 10px 0 0;
            margin-left: -29px;
            padding: 17px 0 8px;

            &.is-active {
                padding: 20px 0 13px;
                width: calc(50% + 29px);
            }
        }

        @include maxW(767px) {
            border-radius: 10px 10px 0 0;
            font-size: 1.6rem;
            line-height: 25px;
            margin-left: -14px;

            &.is-active {
                padding: 16px 0 9px;
                width: calc(50% + 14px);
            }
        }
    }

    &__panel {
        border: 3px solid #0080cc;
        padding: 57px 37px;
        background-color: #f2f5f7;

        display: none;

        &.is-active {
            display: block;
        }

        &--grey {
            border-color: #3c3c3c;
        }

        @include maxW(1024px) {
            padding: 34px 19px 40px;
        }
        @include maxW(767px) {
            padding: 14px 7px 30px;
        }
    }

    &__panel--grey.is-active &__head {
        border-bottom: 5px solid #3c3c3c;

        @include maxW(767px) {
            border-bottom: 4px solid #3c3c3c;
        }
    }

    &__table {
        border-collapse: collapse;
    }

    &__table * {
        vertical-align: top;
    }

    &__tr {
        color: #0b0b0b;
        display: block;
        border-bottom: 1px solid #707070;
        padding: 14px 0;

        @include maxW(1024px) {
            padding: 17px 0 10px;
        }
        @include maxW(767px) {
            padding: 0 10px 16px;
            margin-bottom: 16px;
        }
    }

    &__head {
        display: block;
        border-bottom: 5px solid #0080cc;
        padding: 0 0 13px;

        @include maxW(767px) {
            padding: 0 10px 8px;
            border-bottom: 4px solid #0080cc;
        }
    }

    &__th {
        font-size: 2rem;
        line-height: 1.5;
        // font-weight: bold;
        width: 256px;
        padding: 0 80px 0 60px;

        @include maxW(1024px) {
            font-size: 1.6rem;
            width: 175px;
            padding: 0 43px 0 21px;
        }

        @include maxW(767px) {
            display: block;
            font-size: 1.6rem;
            line-height: 25px;
            padding: 0;
            width: 100%;
            margin-bottom: 15px;
        }
    }

    &__td {
        letter-spacing: 0.4px;
        line-height: 30px;
        padding-right: 45px;

        @include maxW(1024px) {
            position: relative;
            top: -4px;
        }

        @include maxW(767px) {
            display: block;
            line-height: 25px;
            width: 100%;
            padding: 0;
        }
    }

    &__btn {
        margin-top: 52px;
        text-align: center;

        @include maxW(1200px) {
            margin-right: -37px;
            margin-left: -37px;
        }

        @include maxW(1024px) {
            margin-top: 44px;

            margin-right: 0;
            margin-left: 0;
        }

        @include maxW(767px) {
            margin-top: 24px;
            padding: 0 16px;
        }
    }
}
