///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-textcolor {
    color: $main-text-cl;

    &--orange {
        color: #ff5800 !important;
    }
}

//------------------------------------------------------------
// hidden
//------------------------------------------------------------

.is-hidden {
    display: none;
}

.is-onlytab {
    display: none;
}

.is-tabonly {
    display: none;
}

@media screen and (min-width: 1025px) {
    .is-pcnone {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .is-onlytab {
        display: block;
    }

    .is-brnone {
        display: none;
    }

    .is-tabonly {
        display: block;
    }

    .is-tabnone {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .is-spnone {
        display: none;
    }

    .is-tabonly {
        display: flex;
    }
}
