//baseWidth
$base-width: 1920px;

// $main-fonts: "Hiragino UD Sans Std", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro",
//     "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$main-text-cl: #0b0b0b;
$black-cl: #000;
$white-cl: #fff;
$gray-cl: #d3d3d3;
$blue-cl: #0080cc;
$orange-cl: #ff5800;
