<footer class="c-footer">
    <div class="l-container">
        <div class="c-footer__wrapper">
            <div class="c-footer__inner">
                <div class="c-footer__logo">
                    <a href="#">
                        <img class="is-onlypc" src="./assets/img/logo.svg" alt="Entex Recruitment">
                        <img class="is-onlysp" src="./assets/img/logo-sp.svg" alt="Entex Recruitment">
                    </a>
                </div>

                <div class="c-footer__menu">
                    <nav class="c-footer__nav">
                        <ul class="c-footer__list">
                            <li class="c-footer__item">
                                <a href="#about" class="c-footer__link">私たちについて</a>
                            </li>
                            <li class="c-footer__item">
                                <a href="#works" class="c-footer__link">私たちの仕事</a>
                            </li>
                            <li class="c-footer__item">
                                <a href="#career" class="c-footer__link">キャリアプラン</a>
                            </li>
                            <li class="c-footer__item">
                                <a href="#interview" class="c-footer__link">社員インタビュー</a>
                            </li>
                            <li class="c-footer__item">
                                <a href="#company" class="c-footer__link">会社情報</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="c-footer__btn">
                        <a href="#recruit" class="c-btn">募集要項</a>
                    </div>
                </div>
            </div>

            <div class="c-footer__bottom">
                <a href="https://entex.co.jp/" target="_blank"> >株式会社ENTEXコーポレートサイト</a>
            </div>

            <div class="c-footer__copyright">© &nbsp;株式会社ENTEX. All rights reserved.</div>
        </div>
    </div>
</footer>
<!-- end footer -->