<header class="c-header">
  <div class="l-container">
    <div class="c-header__wrapper">
      <div class="c-header__logo">
        <a href="index.html">
          <img src="./assets/img/logo.svg" alt="Entex Recruitment">
          <span>Recruitment 2020</span>
        </a>
      </div>

      <div class="c-header__menu">
        <nav class="c-header__nav">
          <ul class="c-header__list">
            <li class="c-header__link">
              <a href="#about">私たちについて</a>
            </li>
            <li class="c-header__link">
              <a href="#works">私たちの仕事</a>
            </li>
            <li class="c-header__link">
              <a href="#career"><span class="is-onlypc">&nbsp;&nbsp;</span> キャリアプラン</a>
            </li>
            <li class="c-header__link">
              <a href="#interview">社員インタビュー</a>
            </li>
            <li class="c-header__link">
              <a href="#company">会社情報</a>
            </li>
            <li>
              <a href="#recruit" class="c-btn is-onlysp">募集要項</a>
            </li>
          </ul>
        </nav>
      </div>

      <a href="#recruit" class="c-header__btn c-btn is-pcnone">募集要項</a>
    </div>
  </div>

  <div class="c-header__icon">
    <a><span></span></a>
  </div>
</header>
<!-- end header -->